<%- include('header.html'); -%>

<main class="form-signin">
    <form action="/" enctype="multipart/form-data" method="post" id="formUpload">
        <img class="mb-4" src="/images/logo.png" alt="" height="57">
        <h1 class="h3 mb-3 fw-normal">Upload file</h1>
        <!--        <label for="name" class="visually-hidden">Account name / label</label>-->
        <!--        <input type="text" id="name" name="name" class="form-control" placeholder="Account name / label" required autofocus>-->
        <!--        <label for="email" class="visually-hidden">Email address</label>-->
        <!--        <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required>-->
        <label for="file" class="visually-hidden">File</label>
        <!--        <div class="mt-2">-->
        <!--            Read <a href="/docs"> csv docs & sample</a>-->
        <!--        </div>-->
        <input type="file" id="file" name="file" class="form-control" accept=".csv" required>
        <button class="w-100 btn btn-lg btn-primary mt-3" type="submit" id="login">
            Upload
        </button>
        <div class="mt-2">
            Done with this? <a href="/logout">Logout</a>
        </div>

        <div class="card mt-3" id="logCard" hidden>
            <div class="card-body text-start">
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                <span id="log"></span>
            </div>
        </div>
        <p class="mt-5 mb-3 text-muted">Olx Property Uploader &copy; Robot Digital</p>
    </form>
    <p class="mt-5 mb-3 text-muted"><a href="//web.whatsapp.com/send?phone=6288908883345">Olx Property Uploader</a> &copy; <a href="//mabaru.com">Robot Digital</a></p>
    <div class="toast d-flex align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body" id="toast"></div>
        <button type="button" class="btn-close btn-close-white ms-auto me-2" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</main>

<script>
    var toastElList = [].slice.call(document.querySelectorAll('.toast'));
    var toastList = toastElList.map(function (toastEl) {
        return new bootstrap.Toast(toastEl)
    });

    document.getElementById('formUpload').addEventListener('submit', () => {
        uploadLoading();
    });

    document.getElementById('file').addEventListener('input', () => {
        const elementFileUpload = document.getElementById('file');
        const file = elementFileUpload.value;
        if (file.endsWith('.csv')) return;
        elementFileUpload.value = '';
        document.getElementById('toast').innerText = 'Only support *.csv file!'
        toastList.forEach(toast => toast.show());
    });

    socket.on('message', (message) => {
        document.getElementById('log').innerText = message;
    });

    socket.on('redirect', (url) => {
        window.location = url.includes('//') ? url : window.location.origin + url
    });

    var uploadLoading = () => {
        document.getElementById('login').disabled = true;
        document.getElementById('logCard').hidden = false;
        document.getElementById('log').innerText = 'Waiting for setup the browser ..';
    }
</script>

<%- include('footer.html'); -%>